/* justify logo position*/

a.logo {
  margin-top: -1px;
}
img.logo1 {
  margin-left: 20px;
}
.noshadow {
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

@media screen and (min-width : 800px) {
  #firstlogo {
    margin:atuo;
    margin-right:4em;
    margin-top:12px;
  }
}

@media screen and (max-width : 767px){
  #xixi {
    display:none;
  }
}
